@media  (max-width: 800px)  {
    .contacts{
        margin-top: 20px;
    }

    .info{
        margin-top: 20px;
    }
    
    .info h1{
        margin-top: 15px;
    }
    .info button{
        margin-top: 15px;
    }
  }